<nav class="navbar navbar-expand-lg navbar-light bg-light shadow" style="padding-top: 0; padding-bottom: 0; margin-bottom: -2%">
    <a class="navbar-brand" href="#" style="font-family: 'Montserrat Subrayada', sans-serif">
        <img src="/assets/images/MTSP Logo (002).JPG" width="35" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Mentoring Thru Sports Professionals</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-uppercase">
            <li class="nav-item">
                <a class="nav-link more-vertical-padding" href="#" style="background-color: black; color: white">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link more-vertical-padding" href="#about" style="background-color: navy; color: white">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link more-vertical-padding" href="#testimonials" style="background-color: orange; color: white">What Kids Say</a>
            </li>
            <li class="nav-item">
                <a class="nav-link more-vertical-padding" href="#team" style="background-color: violet; color: white">Leadership</a>
            </li>
            <li class="nav-item">
                <a class="nav-link more-vertical-padding" href="#contact" style="background-color: magenta; color: white">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link more-vertical-padding" href="#donate" style="background-color: green; color: white">Donate Today!</a>
            </li>
        </ul>
    </div>
</nav>