<header>
    <img src="/assets/images/MTSP Logo (002).JPG" class="logo image">
    <div class="site-brand">MENTORING THRU SPORTS PROFESSIONALS</div>
</header>
<nav>
    <ul>
        <li>
            <a href="#">
                HOME
            </a>
        </li>
        <li>
            <a href="#about">
            ABOUT
            </a>
        </li>
        <li>
            <a href="#testimonials">
                WHAT KIDS SAY
            </a>
        </li>
        <li>
            <a href="#team">
                LEADERSHIP
            </a>
        </li>
        <li>
            <a href="#contact">
                CONTACT US
            </a>
        </li>
        <li>
            <a href="#donate">
                DONATE TODAY
            </a>
        </li>
    </ul>
</nav>
