html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    scroll-behavior: smooth;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

.section, nav, footer {
    padding: 2% 15% 2% 15%;
    text-align: center;
}

header {
    text-align: center;
}

header img {
    max-width: 20%;
}

.site-brand {
    margin-top: 2%;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 1.5em;
    padding: 5%;
}

nav {
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 2%;
    padding: 0;
    text-transform: uppercase;
}

nav li {
    display: inline-block;
    border: 2px solid black;
    text-align: center;
    margin: -5px;
    padding: 3%;
    font-size: 0.7em;
}

nav li:nth-child(1) {
    background-color: black;
}

nav li:nth-child(2) {
    background-color: navy;
}

nav li:nth-child(3) {
    background-color: orange;
}

nav li:nth-child(4) {
    background-color: violet;
}

nav li:nth-child(5) {
    background-color: magenta;
}

nav li:nth-child(6) {
    background-color: green;
}

.headline {
    padding-right: 0;
    padding-left: 0;
    color: white;
}

.headline h1 {
    font-size: 2em;
}

.heroimage {
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url("/assets/images/MTSP Camp Photo.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10%;
}

div img {
    max-width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.columns, .cards {
    display: inline-block;
}

.column, .card {
    float: left;
    width: 50%;
    font-size: 0.8em;
}

.third {
    font-size: 0.6em;
    width: 33.33%;
}

.columns:after, .cards:after {
    content: "";
    display: table;
    clear: both;
}

.about {
    background: darkblue;
    color: white;
}

.testimonials {
    background: orange;
}

.leadership {
    background: violet;
}

.profile .card {
    margin-top: 5%;
}

.card img {
    width: 35%;
    border-radius: 50%;
    border: 2px solid black;
}

footer {
    background-color: navy;
    color: white;
    padding: 15%;
    padding-top: 5%;
}

.donate a {
    text-decoration: none;
}

footer a {
    color: white;
}

footer div {
    font-size: 0.5em;
    margin: 3%;
}

footer div:nth-child(1) {
    background-color: green;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 3%;
    margin: 6%;
    font-size: 1em;
}

footer .fa {
    margin: 2%;
    padding: 3%;
    color: black;
    background-color: white;
    border-radius: 100%;
}

@media only screen and (max-width: 400px) {
  .column, .card {
    width: 100%;
  }
}